//Variables

//window sizes
@screen-lg: 1345px;
@screen-md: 1080px;
@screen-sm: 859px;
@screen-xs: 699px;
@screen-xxs: 559px;
@screen-mini: 430px;

//colors:
@primary: #1550d2;
@secondary: #ebebeb;
@tertiary: #707070;
@highlight: #001350;

//global styles
body{
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}

.panel{
  background: @secondary;
}

.panel__container{
    margin: 0 auto;
    padding: 42px 0;
    width: 1296px;

    @media(max-width: @screen-lg){width: 975px;}
    @media(max-width: @screen-md){width: 825px;}
    @media(max-width: @screen-sm){width: 575px;}
    @media(max-width: @screen-xs){width: 540px;}
    @media(max-width: @screen-xxs){width: 90%;}
}

h2.heading{
  font-size: 34px;
  font-weight: normal;
  margin: 0 0 3px;
}

h3{
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 22px;
}

.button{
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  max-width: 100%;
  padding: 15px 50px;
  text-decoration: none;
  transition: .5s;

  &:hover{
    background: #fff;
    color: @primary;
  }
}
//end of global styles

.navigation{
  position: relative;
  z-index: 10;

  @media(max-width: @screen-sm){background: #eaecee; overflow: hidden;}
  // @media(max-width: @screen-xxs){display: flex; height: 100vh; justify-content: flex-end; overflow: hidden; padding: 0;}

  &:after{
    background: @highlight;
    content: "";
    height: 22px;
    position: absolute; bottom: 0; left: 0;
    width: 100%;

    @media(max-width: @screen-sm){display: none;}
  }

  &.sticky{
    background: @secondary;
    border-bottom: solid 5px @highlight;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: auto;

    &:after{display: none;}

    .panel__container{padding: 10px 0;}

    .img:not(.img--mobile){display: none;}

    ul{margin-bottom: 0; width: 100%;}

    a{font-size: 16px;}
  }//sticky-nav

  // &.sticky + main {
  //   padding-top: 102px;
  // }

  .panel__container{
    align-items: flex-end;
    display: flex;
    padding: 0 0 11px;

    @media(max-width: @screen-sm){align-items: center; justify-content: center; min-height: 24px; padding: 10px 0;}
  }

  .img{
      padding: 0;

      img{
          display: block;
          height: auto;
          width: 100%;
      }
  }

  .img--logo{
      background: #fff;
      margin: 22px 0 0px -11px;
      width: 170px;
      z-index: 10;
      @media(max-width: @screen-sm){display: none;}
  }

  .img--title{
      margin: 0 45px 36px 36px;
      padding-right: 53px;
      position: relative;
      width: 217px;
      @media(max-width: @screen-sm){display: none;}

    &:after{
      background: #ccc;
      content: "";
      height: 71px;
      position: absolute; right: 0px; bottom: 2px;
      width: 1px;
    }
  }

  .img--mobile{
      display: none;
      max-width: 50%;
      @media(max-width: @screen-sm){display: block;}
  }

  .navigation__burger{
    cursor: pointer;
    display: none;
    padding: 15px;
    position: absolute; top: 50%; right: 20px;
    transform: translate(0, -50%);

    @media(max-width: @screen-sm){display: inline;}

    &.close{

        .burger{
            background: #d81e05;

            &:first-of-type{transform: rotate(45deg) translate(4px, 0px);}
            &:nth-of-type(2){display: none;}
            &:nth-of-type(3){transform: rotate(-45deg) translate(5px, -2px);}
        }

    }

    .burger{
      background: @highlight;
      display: block;
      height: 3px;
      margin: 0 0 5px;
      width: 25px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      &:last-of-type{margin-bottom: 0;}
    }//burger lines
  }//mobile-menu AKA burger

  .navigation__items{
      display: flex;
      justify-content: space-between;
      margin: 0 0 32px;
      list-style: none;
      padding: 0;
      width: 59.5%;

    @media(max-width: @screen-sm){
      background: #193989;
      min-height: 100vh;
      position: absolute; top: 0; right: -100%;
      text-align: left;
      width: 100%;
    }

  }//nav-items

  .mobile-nav{
      background: #fff;
      display: block;
      padding-top: 20px;
      text-align: center;
      top: 100%;

      &:before{
          color: #193989;
          content:"Site Links";
          font-size: 24px;
      }

      li{
          background: #ebebeb;
          padding: 20px;
          margin: 20px auto 0;
          width: 90%;

          a{
              color: #707070;
              font-size: 24px;
          }
      }
  }

  a{
    color: #000;
    font-size: 20px;
    text-decoration: none;

    @media(max-width: @screen-md){font-size: 18px;}
    // @media(max-width: @screen-xxs){display: block;}

    &:hover{
      color: @primary;
      transition: 5;
    }
  }//a
} //navigation

.panel--heading{
    background: @primary url('/images/background--header.jpg') 70% 50% no-repeat;
    background-size: cover;

    @media(max-width: @screen-sm){background: #1a9cf7;}

  .panel__container{
      display: flex;
      flex-direction: column;
      height: 466px;
      justify-content: center;
      padding: 30px 0;
      position: relative;

      @media(max-width: @screen-sm){height: 809px;}
  }

  .heading__content{
      margin-bottom: 18px;
  }

  h1.heading{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 18px;

    @media(max-width: @screen-sm){
        color: #f7f7f7;
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 40px;
    }

    span{
        @media(max-width: @screen-sm){font-size: 60px; font-weight: bold;}
        @media(max-width: @screen-mini){font-size: 46px;}
    }
  }

  h2{
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;

    @media(max-width: @screen-sm){
        border-top: dotted 4px fade(#fff, 50%);
        color: #ebebeb;
        font-size: 28px;
        padding: 40px 20px 0 0;
        width: fit-content;
    }
    @media(max-width: @screen-mini){font-size: 23px;}
  }

  p{
      color: #ebebeb;
      display: none;
      font-size: 28px;
      position: absolute; top: 0; left: 0;

      @media(max-width: @screen-sm){display: block;}
      @media(max-width: @screen-mini){font-size: 20px;}
  }

  span{display: block;}
}

.panel--insights{
  @royalBlue: #164fd2;
  @green: #01a59e;
  @babyBlue: #019bf9;

  @media(max-width: @screen-sm){background: #001a7a;}

  h2.heading{
      @media(max-width: @screen-sm){
          color: #fff;
          font-size: 48px;
          font-weight: bold;
      }

      span{
          @media(max-width: @screen-sm){
              font-weight: 300;
          }
      }
  }

  h3{
      @media(max-width: @screen-sm){
          color: #ccd1e4;
          font-size: 28px;
      }
  }

  .insights__list{
    display: flex;
    justify-content: space-between;
    transition: all 1s ease-in-out; //carousel
  }

  .insight{
    background: #fff;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1), -3px 2px 2.91px 0.09px rgba(0, 0, 0, 0.1);;
    display: flex;
    flex-direction: column-reverse;
    padding: 34px 22px 17px;
    width: 28.5%;
  }

  .test{
      background: pink;
  }

  //create mixin if time
  .insight--global{
    border-bottom: solid 10px @royalBlue;
    h4{color: @royalBlue;}
  }

  .insight--outlook{
    border-bottom: solid 10px @green;
    h4{color: @green;}
  }

  .insight--assumptions{
    border-bottom: solid 10px @babyBlue;
    h4{color: @babyBlue;}
  }

  h4{
      font-size: 34px;
      line-height: 1.1;
      margin: 21px 0 0px;

      span{display: block;}
  }

  .img{
      position: relative;

 //create mixin if time
 //animate this for hover state
      &:before, &:after{
        content: "";
        border-top: 103px solid #fff;
        border-right: 103px solid transparent;
        height: 0;
        position: absolute; top: -1px; left: -1px;
        width: 0;
      }

      &:after{
          border: none;
          border-bottom: 103px solid #fff;
          border-left: 103px solid transparent;
          position: absolute; bottom: -1px; right: -1px; top: auto; left: auto;
      }
  }

  img{
      display: block;
      height: auto;
      width: 100%;
  }

//https://codepen.io/Jake_Woods/pen/vYYoYxo
//first carousel attempt
.insights__wrapper{
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 55em;
}

.insights__list{
    display: flex;
    grid-gap: 1em;
    transition: all 1s ease-in-out;
}

  .buttons__wrapper {
      text-align: center;
    margin-top: 1em;
    width: 100%;
    & > button {
      all: unset;
      background: transparent;
      border: solid 1px #b7b7b7;
      border-radius: 50%;
      cursor: pointer;
      height: 16px;
      margin: 0 0.125em;
      position: relative;
      user-select: none;
      width: 16px;

      &.active {
        background: #b7b7b7;
      }
    }
  }
  //first carousel attempt

}

.panel--callout{
    background: @primary url('/images/background--callout.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;

    .panel__container{
        padding: 110px 0 116px;
    }

    h2.heading{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p{
        font-size: 24px;
        line-height: 1.3;
        margin: 0 0 54px;
    }
}

.panel--events{

    .panel__container{
        padding: 39px 0 98px;
    }

  .events{
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 57px;

    @media(max-width: @screen-sm){display: block;}
  }

  .event{
    background: @primary;
    padding: 85px 21px 99px;
    position: relative;
    width: 28.6%;
  }

  .event__info{
      min-height: 138px;
      position: relative;
  }

  h4{
      font-size: 28px;
      margin: 0 0 1px;
  }

  p{
      margin: 0 0 36px;
  }

  .button{
      padding: 15px 28px;
      position: absolute; bottom: 0; left: 0px;
  }

  .event__date{
    background: @highlight;
    font-size: 16px;
    line-height: 1;
    padding: 18px 26px 16px;
    position: absolute; top: -20px; left: 22px;
    text-align: center;
    text-transform: uppercase;

    &:after{
      content: "";
      border-bottom: 21px solid #3b5091;
      border-left: 20px solid transparent;
      height: 0;
      position: absolute; top: 1px; left: -20px;
      width: 0;
    }

    span{
      display: block;
      font-size: 36px;
      font-weight: bold;
    }
  }

  .event__location{
    background: @secondary;
    color: #000;
    font-size: 23px;
    font-weight: bold;
    padding: 12px 21px;
    position: absolute; bottom: -1px; right: -1px;
    text-align: right;
    width: 72%;

    &:after{
      content: "";
      border-bottom: 51px solid @secondary;
      border-left: 50px solid transparent;
      height: 0;
      position: absolute; top: 0; left: -49px;
      width: 0;
    }
  }
}

.panel--footer{
  background: @tertiary;
  color: #c7c7c7;
  font-size: 12px;

  .panel__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 9px 0 37px;
  }

  .social{
    display: flex;
  }

  span{display: block;}
}
